<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    {% if book_list %}
    <select id="book" name="book">
    {% for b in book_list %}
        <option value="{{ b.book_id }}">{{ b.name }}</option>
    {% endfor %}
    </select>
    <input id="btn" type="button" value="책 추천 받기">
    {% else %}
    <p>No polls are available.</p>
    {% endif %}

<script>
document.getElementById("btn").onclick = function() {rec()};

function rec() {
   console.log(document.getElementById("book").value);
   location.href='/book_reco/'+document.getElementById("book").value;
}
</script>
</body>
</html>